{% extends "base.html" %}

{% set active_page="contact_us" %}

{% block content %}
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <center>
      <h3>Contact Us</h3>
      <dl class="dl-horizontal">
	<dt>Email</dt>
	<dd>general@nyparli.org</dd>
	<dt>Phone</dt>
	<dd>917-613-4279</dd>
      </dl>
    </center>

    <center>
      <h3>Executive Director</h3>
      <strong>Rodda John</strong>
      <br>
      <br>
      <dl class="dl-horizontal">
	<dt>Email</dt>
	<dd>director@nyparli.org</dd>
	<dt>Phone</dt>
	<dd>917-613-4279</dd>
      </dl>
    </center>

    <center>
      <h3>Assistant Executive Director</h3>
      <strong>Radhika Mehta</strong>
      <br>
      <br>
      <dl class="dl-horizontal">
	<dt>Email</dt>
	<dd>asstdirector@nyparli.org</dd>
      </dl>
    </center>

  </div>
  <div class="col-sm-4"></div>
{% endblock %}
