{% extends "base.html" %}

{% set active_page = "faqs" %}

{% block content %}
  
  <div class="container">
    <center>
      <h1>FAQs</h1>
    </center>
    
    <strong>How much does attending a tournament cost?</strong>
    <br>
    The cost for each tournament hosted by the NY Parli League costs $20 per each two-person team.  This fee covers pizza and drinks as well as trophies and the league’s operating costs.
    <br>
    <br>
    
    <strong>How often are NY Parli tournaments?</strong>
    <br>
    The NY Parli league hosts tournaments almost every month. Our full schedule can be found here.
    <br>
    <br>
    
    <strong>How do I join the NY Parli League?</strong>
    <br>
    To join the NY Parli League, click here.
    <br>
    <br>
    
    <strong>What is Parliamentary Debate?</strong>
    <br>
    To learn more about the form, click here.
    <br>
    <br>
    
    <strong>Is there a Championships of some sort at the end of the school year?</strong>
    <br>
    Yes, the NY Parli League will be hosting a special championship tournament at the end of the year.
    <br>
    <br>
    
    <strong>How is the NY Parli League run?</strong>
    <br>
    The NY Parli League is completely student run.  Currently, we have a six member board, with an Executive Director and Assistant Executive Director. Our bylaws can be found here.  If you are a student, please get involved, feel free to apply for our committees and participate in the running of the league!
    <br>
    <br>
    
    <strong>I’m from Connecticut or New Jersey, can I still participate in the NY Parli league?</strong>
    <br>
    Yes, of course you can still participate in the NY Parli league!  The cost is the same per tournament.  We hope that you will join us!
    <br>
    <br>
    
    <strong>Why should I do parli instead of other forms of debate?</strong>
    <br>
    In short, parliamentary debate has no prep work, making it an event that emphasizes mental agility.  Second, it is a participatory form, allowing for questioning of speakers real-time and heckling.  Third, the form emphasizes rhetoric and logic over quick speaking and mountains of evidence.  If you are interested in learning more, please visit this page for more on this question and this page for the complete rules.
    <br>
    <br>
    
    <strong>What are the advantages of a student run league? (why are we unique…)</strong>
    <br>
    The advantages of a student run league is that your voice has power. If there is something that you want to improve about the league, you are more than welcome to join any of our committees and attend our meetings.
    <br>
    <br>
  </div>
{% endblock %}
  
