{% extends "base.html" %}

{% set active_page = "join_us" %}

{% block content %}

  <div class="container">
    <center>
      <h1>Join Us!</h1>
    </center>
    
    We would love for you to join us!
    <br>
    <br>
    We are more than happy to field any questions you may have at general@nyparli.org.
    <br>
    <br>
    If you want to join us, please email either the director (at director@nyparli.org) or the general email (general@nyparli.org).  We want to make this as painless as possible for you.
  </div>
{% endblock %}

