{% extends "base.html" %}

{% set active_page = "parli" %}

{% block content %}
  <div class="container">
  <center>
    <h1>Parliamentary Debate</h1>
  </center>
  Parliamentary debate is the most popular debate event at the middle school and collegiate level, both domestically and internationally. The event differs from more traditional high school debate formats in three areas: topic selection, interaction with the speaker, and argumentation.
  <br>
  <br>
  There are multiple topics per tournament, which are announced 15 - 25 minutes prior to the start of a round.  This variety encourages all participants to stay informed and civically-engaged, as the topics revolve around contemporary issues. They are both domestic and international.
  <br>
  <br>
  Speakers, during the first four speeches in a round (the constructive speeches), are required to ask questions of the speaker, interrupting the speech. There are obviously rules governing this interaction, but these Points of Information (POIs), along with heckles (1-2 word interruptions, usually humorous) make for engaging rounds.
  <br>
  <br>
  Parliamentary debate does not require extensive use of evidence; in fact, use of electronic devices for research during prep is illegal. Parliamentary debate, instead focuses on the ability of the participants to make coherent arguments based upon logic and morality, rather than using quotations from long documents.
  <br>
  <br>
  Although a very short introduction (we encourage you to check out the rules (INSERT LINK), and guides (INSERT LINK) for parliamentary debate), we think that this is a good first peek. We believe that parliamentary debate creates well-informed, well-spoken, and convincing international citizens. Furthermore, we believe that all of our debaters are critical thinkers because of the on-the-fly questioning, necessity of rebuttals, and reliance on logic -- as opposed to research -- to make arguments.
  </div>
{% endblock %}

