{% extends "base.html" %}

{% set active_page = "tournaments" %}

{% block content %}

  <div class="container">
    <center>
      <h1>Tournament Schedule</h1>
    </center>
    <br>
    <p>The underlined tournaments are those hosted by the New York Parliamentary Debate League. The other tournaments are those being attended by league members.  All tournaments with no explicit date listed are tentative.</p>  
    <strong> September 16-18: </font></strong> Yale Parliamentary Debate Tournament<br><br>
    <u><strong>Saturday, October 29th: </font> </strong> Horace Mann Parliamentary Debate Invitational</u><br><br>
    <u><strong>November: </font> <italics> </strong> Stuyvesant Parliamentary Debate Invitational</u><br><br>
    <strong> Saturday, January 14th: </font> </strong> E. L. Meyers High School Annual Dr. Martin Luther King Open Speech and Debate Tournament.<br><br>
    <strong> February 10-12: </font> </strong> UPenn Liberty Bell Classic<br><br>
    <u> <strong>March: </font> </strong> Horace Mann Parliamentary Debate Invitational</u><br><br>
    <u> <strong>April: </font> </strong> Stuyvesant Parliamentary Debate Invitational</u><br><br>
    <u><strong>May: </font> </strong> Dalton Parliamentary Debate Invitational</u><br><br>
  </div>

{% endblock %}



